@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: "Poppins", sans-serif;
  --background: #192131;
  --foreground: #ffffff;
  --primary-color: #2b74e1;
  --secondary-color: #285bb9;
  --tertiary-color: #0d172c2d;
  --form-color: #1b3e7e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--primary-font);
}
