.search-wrapper {
  padding-top: 10vh; /* Leave space for navbars */
  padding-left: 15vw;
  width: 100%;
  box-sizing: border-box;
}

.search {
  align-items: center;
  border-left: 2px solid #8b8b8b;
  border-right: 2px solid #8b8b8b;
  padding: 20px;
  background-color: white;
  width: 70%;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 100vh;
}

input.clanID {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20%;
  box-sizing: border-box;
  font-size: 1.4rem;
}

button {
  padding: 0.9rem 1.2rem;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h2 {
  font-size: 4rem;
}
